* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #000;

}

header {
    background: #000;

}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    align-items: center;
}

.logo {
    padding-left: 50px;
    padding-top: 5px;
    width: 150px;

}

ul li a {
    padding: 1.6rem;
    font-weight: bold;
}



ul li a:hover {
    background-color: #fff;
    color: #000;
}

.menu-opciones {
    padding-left: 15px;
}

.login {
    justify-self: center;
}



/* Estilos generales */

.contenedor,
.wave-contenedor {
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    margin: auto;
    padding: 200px 0 80px 0;
}

.contenedor {
    padding: 100%;
}

.titulo {
    padding-top: 15px;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    text-align: left;

}


/* Section */

.website {
    display: flex;
    justify-content: space-between;


}


.cta {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    width: 70%;
}


.website img {
    width: 48%;

}

.website .contenedor-textos-main {
    width: 40%;

}

.contenedor-textos-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafo {
    text-align: justify;
    margin-bottom: 20px;
    color: #fff;

}


.input {
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder {
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}


input[type="email"] {
    display: inline-block;
    width: 70%;
    margin-bottom: 30px;
}

input[type="submit"] {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 14px 0;
    background: #fad0c4;
    border-radius: 15px;
    color: #000;
}

.terminos {
    text-align: justify;
    margin-bottom: 20px;
    color: #fff;
    font-size: 12px;

}